.is-relative{
    position:relative!important;
}
.copyleft {
    display:inline-block;
    transform: rotate(180deg);
}
#upload-new{ transition: background .2s ease-out; }

#upload-new.droppable{ background:hsl(348, 100%, 95%); }
#upload-new::after{
    content: "";
    height: 100%;
    background: hsl(348, 100%, 61%);
    top: 0;
    left: 0;
    width: 0;
    position: absolute;
    transition: width .2s ease-out;
}
#upload-new.droppable::after{
    width: 1vw;
}

/* shrink burger menu on devices larger than a phone */
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    #main-menu{
        position: absolute;
        right: 0;
        transition: all .8s ease-out;
        overflow: hidden;
    }
    #main-menu.is-active{
        width: 17em;
    }
}