{% extends "layout.html" %}
{% block title %}Invoices{% endblock %}
{% block content %}


<section id="upload-new" class="hero is-white is-relative" 
:class="{droppable: isDroppable }" 
@dragenter.stop.prevent="isDroppable = true" 
@dragover.stop.prevent ="isDroppable = true" 
@dragleave.stop.prevent="isDroppable = false" 
@drop.stop.prevent="drop"
>


<!-- <div class="field">
    <div class="control">
        <div class="select is-primary">
            <div class="select">
                <select v-model="status">
                    <option>ready</option>
                    <option>error</option>
                    <option>loading</option>
                    <option>success</option>
                </select>
            </div>
        </div>
    </div>
</div> -->
<div class="hero-body">
    <div class="container">
        <h1 class="title">{{messages.title}}</h1>
        <form method="POST" @change="sendFile" @submit.prevent="sendFile" enctype="multipart/form-data">
            <div class="field is-grouped">
                <div class="file has-name control is-boxed" 
                @mouseenter="wait=true" @mouseleave="wait=false"
                :class="{
                    'is-loading': status=='loading', 
                    'is-info': status=='loading', 
                    'is-danger':  status=='error', 
                    'is-success': status=='success',
                    'is-warning': status=='ready'
                }">
                <label class="file-label">
                    <input ref="file" accept="application/pdf,image/*" name="file" class="file-input" capture type="file" id="file">
                    <span class="file-cta">
                        <span v-show="status=='ready'" class="icon">
                            <i class="fas fa-cloud-upload-alt fa-lg"></i>
                        </span>
                        <span v-show="status=='error'" class="icon">
                            <i class="fas fa-times-circle fa-lg"></i>
                        </span>
                        <span v-show="status=='loading'" class="icon">
                            <i class="fas fa-angle-double-up fa-lg"></i>
                        </span>
                        <span v-show="status=='success'" class="icon">
                            <i class="fas fa-check fa-lg"></i>
                        </span>
                        <span class="file-label">
                            <span v-if="status=='success'">{{messages.success}}</span>
                            <span v-else-if="status=='error'">{{messages.error}}</span>
                            <span v-else-if="status=='loading'">{{messages.loading}}</span>
                            <span v-else>{{ messages['select file'] }}</span>
                        </span>
                    </span>
                    <span class="file-name has-text-centered" id="filename">${fileName}</span>
                </label>
                <!-- <button class="button">Send</button> -->
            </div>
            
            <p class="help" style="padding-top:.3em">
                <span v-if="file">${fileSize} <br>${fileType}</span>
                <span v-else>&nbsp;</span>
            </p>
        </div>
        
    </div>
</form>
</div>
</div>
</section>


<section class="section" id="invoices">
    <div class="container">
        <h4 class="title">Uploaded</h4>
        <p class="subtitle">List of uploaded invoices 
            <button class="button is-rounded is-small is-outlined is-primary" 
            :class="{'is-loading': status=='loading'}" 
            @click="sync"
            >
            <span class="icon">
                <i class="fas fa-sync-alt"></i>
            </span>
            <span>Sync</span>
        </button></p>
        <p>View the result before sending to kashflow.</p>{{key}}
        <table class="table is-hoverable is-striped is-fullwidth">
            <thead>
                <tr>
                    <th>document</th>
                    <th>added</th>
                    <th>supplier Name</th>
                    <th>invoice ref</th>
                    <th>invoice amount</th>
                    <th>invoice date</th>
                    <th>send</th>
                </tr>
            </thead>
            <tbody>
                <template v-for="invoice in invoices">
                    <tr :class="{'has-text-grey-light': invoice.status != 'OK','has-text-info': invoice.status == 'OK'}">
                        <td><a v-if="invoice.status=='OK'" :href="invoice.url" target="_preview" :title="invoice.doc_id">${short_doc_id(invoice.doc_id)}</a></td>
                        <td :title="invoice.upload_date">${relative_time(invoice.upload_date)}</td>

                        <td :title="invoice.supplier_id">${invoice.supplier}</td>
                        <td>${invoice.invoice_ref}</td>
                        <td :title="invoice.invoice_currency+' '+invoice.amount">${invoice.invoice_amount_formatted}</td>
                        <td>${invoice.invoice_date}</td>
                        <td>
                            <button v-if="invoice.status=='OK'" class="button is-primary">OK?</button>
                            <a v-else href="#" class="button" disabled>${ invoice.status }</a>
                        </td>
                    </tr>
                </template>
                {# this will only load on page reload - initial render #}
                {% for invoice in invoices|sort(attribute='date', reverse = True) %}
                <tr :class="{'is-hidden':status!='Loading'}" class="{% if invoice.status != 'OK' %}has-text-grey-light {% else %}has-text-info{% endif %}">
                    <td>{% if invoice.status == 'OK' %}<a href="{{invoice.url}}" target="_preview" title="{{invoice.doc_id|upper }}">{{invoice.doc_id[:-16]|upper }}**</a>{% endif %}</td>
                    <td title="{{invoice.upload_date|strftime}}">{{invoice.upload_date|timesince if invoice.upload_date}}</td>
                    <td title="{{invoice.supplier_id}}">{{invoice.supplier}}</td>
                    <td>{{invoice.invoice_ref}}</td>
                    <td title="{{invoice.invoice_currency}} {{invoice.amount}}">{{invoice.invoice_amount_formatted}}</td>
                    <td>{{invoice.invoice_date}}</td>
                    <td>
                        {% if invoice.status == 'OK' %}<button class="button is-primary">OK?</button>
                        {% else %}<a href="#" class="button" disabled>{{ invoice.status }}</a>
                        {% endif %}</td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr><td colspan="8">Found ${invoices.length} results</td></tr>
                </tfoot>
            </table>
        </div>
        
    </section>
    {% endblock %}